
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mukta:wght@500&family=Open+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Merriweather:wght@300&family=Mukta:wght@500&family=Open+Sans&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Merriweather:wght@300&family=Mukta:wght@500&family=Open+Sans&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Lora&family=Merriweather:wght@300&family=Mukta:wght@500&family=Open+Sans&family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&family=IBM+Plex+Serif:ital,wght@1,300&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100&family=Montserrat:wght@200&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(productos.css);
@import url(info.css);
@import url(formulario.css);
@import url(infoNosotros.css);
@import url(menuProductos.css);
@import url(allProducts.css);
@import url(nosotros.css);
@import url(formaspago.css);
@import url(animation.css);
* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff; 

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}

.icon-gamepad{
    float: left;
}

header .contenedor{
    display: table ;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#Informacion {
    text-align: center;
}

#Informacion h2 {
    font-size: 25px;
   color: #b70e21;
   font-weight: normal;
}
#Informacion p{
    margin-top: 5px;
    color :rgba(74,74,74,0.7);
}


footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}
.copy{
    font-size: 15px;
}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 23px;
}

.contenedor .copy{
    font-family: 'Merriweather', serif;
    color: #000;
}
.sociales a {
    color: #333;
    text-decoration: none;
}


@media (min-width:768px){
    .sociales{
        width: auto;
    }
    footer .contenedor{
     justify-content: space-between;
    }
}

@media (min-width:1024px){
    .contenedor {
        width: 1000px;
    }
}
