
#productos h3{
    text-align: center;
    font-weight:500;
    font-family: 'Inconsolata', monospace;
font-family: 'Merriweather', serif;
font-family: 'Mukta', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
}

#productos h4 {
    font-weight: normal;
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    text-align: center;
    color:rgba(74,74,74,0.9); ;
}


#productos .contenedor{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}

#productos article{
    margin:15px;

}

#productos img{
    width: 100%;
    height: 100%;
    max-width: 300px;
}